body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 100%;
    width: 1000px;
}

header {
    height: 50px;
    background: linear-gradient(#2c2, #227);
    color: #fff;
    font-size: 40px;
}

nav {
    height: 24px;
    position: sticky;
    width: 1000px;
    background: #cce;
}

nav a {
    float: left;
    position: relative;
    padding-right: 10px;
}

