body {
	margin: auto auto;
	background-color: #000;
	position: relative;
	width: 86%;
	border-left: 1px solid #58646B;
	border-right: 1px solid #58546B;
	border-bottom: 1px solid #58546B;
	min-width: 710px;
    max-width: 1100px;
	margin-bottom: 10px;
}

#banner {
    background-color: black;
    background-image: url(media/header.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top right;
    padding: 0;
	/* padding-left: 5px; */
    height: 48px;
    margin-bottom: 0;
    border-bottom: 0;
    border-top: 0;
    border-left: 1px solid #28343B;
    border-right: 1px solid #28343B;
}

#banner h1 {
    height: 40px;
    vertical-align: middle;
    font-size: 36px;
    color: white;
    display: block;
    margin: 0;
    float: left;
	padding-left: 4px;
}

#banner a {
	top: 0;
}

#banner img {
	border: 1px solid #fff;
	vertical-align: text-top;
}

#banner h1 a:link, #banner h1 a:hover, #banner h1 a:active, #banner h1 a:visited {
    text-decoration: none;
}

navbar {
	display: block;
	position: sticky;
	top: 0;
	background-color: #35c;
	height: 38px;
	border-top: 2px solid #89a;
	border-bottom: 2px solid #789;
    border-left: 1px solid #28343B;
    border-right: 1px solid #28343B;
	padding-bottom: 1px;
}

navbar img {
	padding: 0;
	margin: 0;
	display: block;
}

navbar a {
	display: block;
	font-size: 19px;
	color: #FFF;
	float: left;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	border-right: 1px solid #987;
	background: none;
}

navbar a #navbrand {
	padding: 0px;
	margin: 0;
	float: left;
	height: 36px;
	display: block;
	vertical-align: middle;
}

navbar a:hover {
	color: #000;
	background: linear-gradient(#FFF, #9ab);
}

navbar #login_button {
	font-weight: bold;
	float: right;
	color: black;
	border-left: 1px solid #000;
	background-color: #6E6;
	border-right: none;
}

navbar #login_button:hover {
	color: white;
	background: linear-gradient(#CFC,#030)
}

#main {
	background-color: #333;
	color: white;
    border-left: 1px solid #28343B;
    border-right: 1px solid #28343B;
    border-bottom: 1px solid #28343B;
	padding: 10px 10px 10px 10px;
	margin: 0px;
	min-height: 700px;
}

    #main p {
        margin-top: 0;
        display: inline-block;
        width: 100%;
    }
    
    #main a {
		color: #ee2;
    }

#main h2 {
	border-top: 1px solid #aaa;
}
/*
#main h3 {
	padding: 10px 5px 10px 5px;
	margin: 10px 0px 10px 0px;
}
*/
.embed {
	padding: 2px;
	margin-top: 4px;
	border: 1px solid #222;
}

.download-button {
    padding: 8px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: rgba(90,170,90,1.0);
    border: 2px solid #020;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .download-button:hover {
        background: linear-gradient(#7D7,#4A4);
        text-decoration: underline;
        border: 2px solid #020;
    }

table {
	border: 1px solid #aaa;
	width: 100%;
}

th {
	text-align: left;
	padding: 5px 5px 5px 5px;
}
td {
	border: 1px solid #aaa;
	padding: 2px 1px 2px 5px;
}
td h4 {
	padding: 0px;
	margin: 0px;
}
tr {
	margin: 0;
}

.two-column {
	border: none;
}

.two-column th {
	text-align: center;
	font-size: 24px;
}

.two-column td {
	text-align: center;
	border: none;
}

.mp3-container {
	width: 320px;
	margin: 0px auto;
	padding: 10px;
	border-bottom: 3px solid #555;
}

.mp3-container h4 {
	text-align: left;
	padding-left: 10px;
}

.media-links::after {
  content: "";
  clear: both;
  display: block;
}

.media-links a {
	border: 2px solid #888;
	display: block;
	padding: 2px;
	width: 48px;
	height: 48px;
	background-color: #ddd;
	float: left;
	margin-right: 6px;
}

.media-links a img {
	width: 48px;
	height: 48px;
}

.media-links a:hover {
	border: 2px solid #ddd;
	background-color: #888;
}

.album-box {
	border-top: 4px solid #666;
	padding: 10px;
	padding-top: 18px;
	height: 256px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.album-box img {
	width: 256px;
	height: 256px;
	float: left;
	margin-right: 10px;
}

.album-box h4 {
	color: #7af;
}

.album-box .release-title {
	font-size: 24px;
}

.release-title h3 {
	float: right;
	margin: 0px;
	color: #7af;
	font-family: Arial;
}

.album-box h4 {
	margin-top: 0px;
}

.album-box p {
	width: 400px !important;
	height: 106px;
}

.release-date {
	float: right;
	margin-top: 32px;
	color: #bbb;
}
