<h1>Homepage</h1>
<p>
  I'm a computer science student. This is where I put my projects.
</p>
<hr />
<h2>News</h2>
<p>
  <time datetime="2024-06-04">4<sup>th</sup> june</time><br>
  Remade the website (again), now using the <a href="https://phoenixframework.org/">Phoenix Framework</a>
</p>
